@use "@/styles/colors";
@use "@/styles/media";

.toolbar {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  width: 100%;
}

.toolbarItem {
  display: flex;
  margin: 8px;
  flex-direction: column;
  font-size: 12px;
  align-items: center;

  p {
    color: colors.$darkTeal;
    text-align: center;
    font-weight: 600;
  }

  img {
    width: 100%;
    max-width: 70px;
    height: auto;
    padding: 2px;
  }

  @include media.desktop {
    margin: 16px;
  }
}
